form{
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  #2f9476;
    font-family: 'Poppins', sans-serif;
    font: .75rem 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 10px;
}

input{
    background: transparent;
    border: 2px solid #2f9476;
    border-radius: 10px;
    color: #407342;
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px;
    width: 50%;
    text-align: center;   
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

button{
    background: transparent;
    border: 0;
    border-radius: 10px;
    color:  #2f9476;
    font-size: 30px;
    margin-bottom: 5%;
}